<table class="table is-bordered is-hoverable is-fullwidth">
    <tbody>
            <tr>
                <figure class="image is-64x64">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/champion/{{champion.key}}.png">
                </figure>
            </tr>
            <tr>
                <th>Name</th>
                <td><strong>{{champion.name}}</strong> {{champion.title}}</td>
            </tr>
    </tbody>
</table>
