<table class="table is-fullwidth">
    <tbody>
            <tr>
                <td>
                    <figure class="image is-128x128">
                        <img src="http://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/profileicon/{{summoner.profileIconId}}.png">
                    </figure>
                </td>
                <td>
                    <table class="table is-bordered is-fullwidth">
                        <tbody>
                            <tr>
                                <td><strong>{{summoner.name}}</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Level: </strong>{{summoner.summonerLevel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

    </tbody>
</table>
