<nav class="navbar is-success">
    <div class="navbar-brand">
        {{#link-to "home" class="navbar-item"}}Home{{/link-to}}
        {{#link-to "champions" class="navbar-item"}}Champions{{/link-to}}
        {{#link-to "summoner" class="navbar-item"}}Summoner{{/link-to}}
    </div>
</nav>
