<section class="hero is-light is-bold is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{champion.name}}
            </h1>
            <h2 class="subtitle">
                {{champion.title}}
            </h2>
        </div>
    </div>
</section>

<div class="section">
    {{champion-table model=model}}
</div>
